* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header nav {
  margin: 42px 0 40px;
}
header nav .navbar-brand {
  width: 120px;
  height: 34px;
  padding: 0;
  margin: 0;
}
header nav .navbar-brand img {
  max-width: 100%;
}
header nav svg {
  font-size: 25px;
}
@media (max-width: 992px) {
  header nav ul {
    padding: 20px 0;
  }
}
header nav ul li :hover {
  color: #2639ED !important;
}
header nav ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.01em;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 992px) {
  header nav ul a {
    margin-right: 0;
    padding-bottom: 10px !important;
  }
}
@media (max-width: 992px) {
  header nav ul {
    text-align: center;
    margin: 0;
  }
}
header .artical {
  height: 70vh;
  margin-bottom: 40px;
}
header .artical .row .col {
  position: relative;
}
header .artical .row .col .w-100 {
  padding-left: 55px;
  padding-bottom: 70px;
  height: 95%;
}
header .artical .row .col .image-3 {
  position: absolute;
  top: 65%;
  left: 10%;
  z-index: -1;
}
@media (max-width: 992px) {
  header .artical .row .col .image-3 {
    display: none;
  }
}
header .artical .row .col .image-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header .artical .row .col .image-1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
header .artical .row .col:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  header .artical .row .col:first-of-type {
    margin-left: auto;
    margin-right: auto;
  }
}
header .artical .row .col:first-of-type .card {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 150px;
}
@media (max-width: 1200px) {
  header .artical .row .col:first-of-type .card {
    margin-left: 50px;
  }
}
@media (max-width: 992px) {
  header .artical .row .col:first-of-type .card {
    text-align: center;
    margin: 0;
  }
}
header .artical .row .col:first-of-type .card h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 40px;
}
header .artical .row .col:first-of-type .card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
  margin-bottom: 33px;
}
header .artical .row .col:first-of-type .card a {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
  background: #2639ed;
  border-radius: 60px;
  padding: 20px 40px;
}
@media (max-width: 992px) {
  header .artical .row .col:last-of-type {
    display: none;
  }
}

section {
  margin-bottom: 146px;
  background-image: url(../../img/Rectangle\ 24.png);
  background-size: 65% 70%;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative;
}
section .image-4 {
  position: absolute;
  left: 76%;
  bottom: 6%;
  z-index: -1;
}
section .image-5 {
  position: absolute;
  left: 18%;
  top: 31%;
  z-index: -1;
}
section .image-6 {
  position: absolute;
}
section .section-gro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .section-gro h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 30px;
}
section .section-gro p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #565656;
}
section .column-1 {
  margin-top: 80px;
}
section .column-1 .card {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}
section .column-1 .card .icons {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
section .column-1 .card .icons span {
  padding: 23px 23px 24px 24px;
  display: inline-block;
}
section .column-1 .card .icons .box {
  background-color: #F1F7FF;
  border-radius: 20px;
}
section .column-1 .card .icons .code {
  background-color: #FFF2F8;
  border-radius: 20px;
}
section .column-1 .card h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  padding-bottom: 27px;
  margin: 0;
}
section .column-1 .card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #757575;
  padding-bottom: 55px;
}
section .column-1 .card-box {
  margin-bottom: 30px;
  margin-right: 17px;
}
section .column-1 .card-code {
  margin-right: 17px;
}
section .column-2 {
  margin-bottom: 80px;
}
section .column-2 .card {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}
section .column-2 .card .icons {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
section .column-2 .card .icons span {
  padding: 23px 23px 24px 24px;
  display: inline-block;
}
section .column-2 .card .icons .wallet {
  background-color: #FFF7E3;
  border-radius: 20px;
}
section .column-2 .card .icons .square {
  background-color: #DEFFEE;
  border-radius: 20px;
}
section .column-2 .card h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  padding-bottom: 27px;
  margin: 0;
}
section .column-2 .card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #757575;
  padding-bottom: 55px;
}
section .column-2 .card-wallet {
  margin-bottom: 30px;
  margin-left: 17px;
}
section .column-2 .card-square {
  margin-left: 17px;
}

.service {
  margin-bottom: 94px;
}
@media (max-width: 992px) {
  .service :first-of-type .col {
    text-align: center;
  }
}
.service :first-of-type .col h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.8;
  color: #000000;
}
.service :first-of-type .col p {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: #757575;
}
.service .group-col {
  padding: 50px 10px 10px;
}
.service .group-col img {
  max-width: 100%;
}