@use "./scss/variables" as *;
.about-us {
  .col:last-child {
    img {
      background-image: url(../../img/Ellipse\ 93.png);
      background-repeat: no-repeat;
      background-position: 25% 60%;
    }
  }
  .slide {
    background-image: url(../../img/Dot.png);
    background-repeat: no-repeat;
    background-position: 30% 0%;
    ol {
      right: -23%;
      bottom: 25%;
      @media (max-width: 1200px) {
        right: -28%;
        bottom: -1%;
      }
      @media (max-width: 470px) {
        right: -35%;
        bottom: -22%;
      }

      li {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-left: 26px;
        background-color: $four-color;
        @media (max-width: 768px) {
          width: 14px;
          height: 14px;
          margin-left: 15px;
        }
      }
    }
    .slide-text {
      margin-top: 80px;
      @media (max-width: 768px) {
        margin-top: 30px;
      }
      @media (max-width: 470px) {
        margin-top: 10px;
      }
      h6 {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.6;
        color: $first-color;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.4;
        color: $second-color;
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  }
}
