$first-color:#000000;
$second-color:#565656;
$third-color:#FFFFFF;
$four-color:#2639ED;
$fifty-color:#757575;
$six-color:#F1F7FF;
$seven-color:#FFF7E3;
$eight-color:#DEFFEE;
$nine-color:#FFF2F8;
$ten-color:#959595;
$eleven-color:#A4A4A4;