@use "./variables" as *;
.our-works {
  margin-bottom: 117px;
  .column {
    position: relative;
    .btn {
      position: absolute;
      left: 50%;
      bottom: 32%;
      transform: translate(-50%, -50%);
      @media (max-width: 478px) {
        left: 36%;
        bottom: 37%;
      }
    }
    h5 {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.3;
      color: $first-color;
      margin-bottom: 30px;
      @media (max-width: 1200px) {
        font-size: 35px;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.8;
      color: $second-color;
      @media (max-width: 1200px) {
        font-size: 14px;
        padding: 0 10px;
      }
    }
    .image-8 {
      position: absolute;
      position: absolute;
      top: 16%;
      left: 2%;
      z-index: -1;
      @media (max-width: 1200px) {
        display: none;
      }
    }
    .image-7 {
      position: absolute;
      top: 64%;
      left: 74%;
      z-index: -1;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  .column-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 1200px) {
      padding-left: 0 !important;
      text-align: center;
    }
  }
}
.baner {
  margin-bottom: 70px;
  h5 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.8;
    text-align: center;
    color: $first-color;
    @media (max-width: 1200px) {
      font-size: 30px;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: $second-color;
    @media (max-width: 1200px) {
      font-size: 15px;
    }
  }
}
